<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a th:href="@{/listePersonnages}"
   th:text="${'Liste des personnages'}"></a>

<a th:href="@{/listePersonnagesByNom}"
   th:text="${'Liste des personnages par nom'}"></a>

<form th:action="@{/listePersonnagesBySexe}" method="POST">
    <select name="sexe">
        <option th:value="M" th:text="ome"></option>
        <option th:value="F" th:text="fame"></option>
    </select>
    <button type="submit"> Afficher par SEKSE </button>
</form>

<a th:href="@{/listeAlbumsByTitre}"
   th:text="${'Liste des albums par titre'}"></a>

<form th:action="@{/listeAlbumsByAnnee}" method="post">
    <input type="number" th:name="d1" value="1900">
    <input type="number" th:name="d2" value="2000">
    <button type="submit"> Voir entre les 2 années</button>
</form>

</body>
</html>