<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">   
<head>      
    <meta charset="UTF-8"/>
    <title>Liste des Albums</title>         
</head>   
<body>
    <h1>Liste des Albums</h1>
<table border="1">
    <thead>
    <tr>
        <th> id</th>
        <th> titre</th>
        <th> annee</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="alb : ${listeAlbums}">
        <td th:text="${alb.id}"></td>
        <td th:text="${alb.titre}">/</td>
        <td th:text="${alb.annee}">/</td>

    </tr>
</table>
<div th:if="${albumsPage.totalPages > 0}"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listeAlbumsByAnnee(size=${albumsPage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"></a>
</div>
</body>
</html>