<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
      <h1>Liste des films:</h1>      
<table border="1">
                <tr>
                   <th>ID</th>
                   <th>TITRE</th>
                   <th>REALISATEUR</th>
                   <th>GENRE</th>
                   <th>PAYS</th>
                   <th>SORTIE</th>
                
                </tr>
                <tr th:each ="film : ${ensFilmActeur}">
                   <td th:utext="*{film.nfilm}">...</td>
                   <td th:utext="${film.titre}">...</td>
                   <td th:utext="${film.realisateur}">...</td>
                   <td th:utext="${film.genre.nature}">...</td>
                   <td th:utext="${film.nationalite.nom}">...</td>
                   <td th:utext="${film.sortie}">...</td>

                </tr>
             </table>
<br/>
   
</body>
</html>
