<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>   
</head>
<body>

      <h1>Liste des emprunts:</h1>      
<table border="1">
                <tr>
                   <th>ID</th>
                   <th>CLIENT</th>
                   <th>FILM</th>
                   <th>RETOUR</th>
                </tr>
                <tr th:each ="emprunt : ${listEmprunts}">
                   <td th:utext="${emprunt.nemprunt}">...</td>
                   <td th:utext="${emprunt.client.nom}">...</td>
                   <td th:utext="*{emprunt.film.titre}">...</td>
                   <td th:utext="*{emprunt.retour}">...</td>
                   <td><a th:href="@{/rendreEmprunt/{id} (id = ${emprunt.nemprunt})}">Rendre</a></td>

                </tr>
             </table>
<br/>
   
</body>
</html>
