<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:panelGrid columns="3">
            <f:facet name="header"><h:outputText value="Affecter gangster à une organisation"/> </f:facet>
            <h:outputLabel for="orgInput" value ="Organisation :"/>
            <h:selectOneMenu value="#{gangCtrl.orgNameChoisi}" id="orgInput" required="true" requiredMessage="Choix obligatoire">
                <f:selectItem itemLabel="veuillez choisir une organisation" noSelectionOption="true"/>
                <f:selectItems value="#{gangCtrl.orgs}" var="org" itemLabel="#{org.orgName}"
                               itemValue="#{org.orgName}"/>
            </h:selectOneMenu>
            <h:message for="orgInput" tooltip="true" showDetail="true"/>


            <h:outputLabel for="gangNameInput" value ="Gangster :"/>
            <h:selectOneMenu value="#{gangCtrl.gangNameChoisi}" id="gangNameInput" required="true" requiredMessage="Choix obligatoire">
                <f:selectItem itemLabel="veuillez choisir un gangster" noSelectionOption="true"/>
                <f:selectItems value="#{gangCtrl.listeGangsters}" var="gang" itemLabel="#{gang.gname} #{gang.nickname}"
                               itemValue="#{gang.gname}"/>
            </h:selectOneMenu>
            <h:message for="gangNameInput" tooltip="true" showDetail="true"/>
        </h:panelGrid>

        <h:commandButton value="Ajout à l'organisation" action="#{gangCtrl.doAffecterGangToOrg}" />
    </h:form>
    <h:form>
        <h:commandButton value="" action="index" style="background-image: url('icons/Accueil.png') "/>
    </h:form>
</f:view>
</html>