<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head></h:head>
<h:body>

    <f:view>
        <f:facet name="header"><h:outputText value="Promouvoir en boss"/> </f:facet>
        <h:form>
            <h:panelGrid columns="3">

                <h:outputLabel for="orgInput" value ="Organisation :"/>
                <h:selectOneMenu value="#{gangCtrl.orgNameChoisi}" id="orgInput" required="true" requiredMessage="Choix obligatoire">
                    <f:selectItem itemLabel="-- séléctionner une organisation --" noSelectionOption="true"/>
                    <f:selectItems value="#{gangCtrl.orgs}" var="org" itemLabel="#{org.orgName}"
                                   itemValue="#{org.orgName}"/>
                    <f:ajax render="gangsterID"/>
                </h:selectOneMenu>
                <h:message for="orgInput" tooltip="true" showDetail="true"/>


                <h:outputLabel for="gangsterID" value ="Gangster :"/>
                <h:selectOneMenu value="#{gangCtrl.gangNameChoisi}" id="gangsterID" required="true" requiredMessage="Choix obligatoire">
                    <f:selectItem itemLabel="-- séléctionner un gangster" noSelectionOption="true"/>
                    <f:selectItems value="#{gangCtrl.gangsterOfOrg}" var="gang" itemLabel="#{gang.gname} #{gang.nickname}"
                                   itemValue="#{gang.gname}"/>
                </h:selectOneMenu>
                <h:message for="gangsterID" tooltip="true" showDetail="true"/>
            </h:panelGrid>

            <h:commandButton value="Promulguer" action="#{gangCtrl.doChoixDuBoss}" />
        </h:form>
        <h:form>
            <h:commandButton value="" action="index" style="background-image: url('icons/Accueil.png') "/>
        </h:form>
    </f:view>

</h:body>

</html>
