<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:panelGrid columns="3" border="0" cellpadding="6" cellspacing="1">
            <f:facet name="header"><h:outputText value="Ajout d'un job"/> </f:facet>

            <h:outputLabel for="nomInput" value="nom du job"/>
            <h:inputText id="nomInput" value="#{jobctrl.newJob.jobName}" required="true" requiredMessage="Nom obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="nomInput" tooltip="true" showDetail="true"/>

            <h:outputLabel for="scoreInput" value="score"/>
            <h:inputText id="scoreInput" value="#{jobctrl.newJob.score}" required="true"
                         requiredMessage="score obligatoire" size="20" maxlength="30">
                <f:validateLongRange min="1" maximum="1000" />
            </h:inputText>

            <h:message for="scoreInput" tooltip="true" showDetail="true"/>

            <h:outputLabel for="setupInput" value="investissement"/>
            <h:inputText id="setupInput" value="#{jobctrl.newJob.setupcost}" required="true"
                         requiredMessage="investissement obligatoire"  validatorMessage=">0" size="10" maxlength="10">
            </h:inputText>
            <h:message for="setupInput" tooltip="true" showDetail="true"/>

            <h:panelGroup>
                <h:commandButton value="Créer le job" action="#{jobctrl.doAjoutJob}"/>
            </h:panelGroup>
        </h:panelGrid>
    </h:form>
    <h:form>
        <h:commandButton value="" action="index" style="background-image: url('icons/Accueil.png') "/>
    </h:form>
</f:view>
</html>