<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:hh="http://java.sun.com/jsf/html">
<f:view>
    <h:form>
        <h:panelGrid columns="3" border="0" cellpadding="5" cellspacing="1">
            <f:facet name="header"><h:outputText value="Authentification"/> </f:facet>

            <h:outputLabel for="nomInput" value="nom"/>
            <h:inputText id="nomInput" value="#{ctrl.client.nom}" required="true" requiredMessage="Nom obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="nomInput" tooltip="true" showDetail="true"/>

            <h:outputLabel for="mdpInput" value="mot de passe"/>
            <h:inputText id="mdpInput" value="#{ctrl.client.motDePasse}" required="true"
                         requiredMessage="mdp obligatoire" size="20" maxlength="30"/>
            <h:message for="mdpInput" tooltip="true" showDetail="true"/>
            <h:panelGroup>
                <h:commandButton value="Connexion" action="#{ctrl.doAuthentification}"/>
            </h:panelGroup>
        </h:panelGrid>
    </h:form>
</f:view>

</html>
