<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:outputLabel value="Personnages de l'album : #{ctrl.albumChoisi.titre}
        #{not empty ctrl.albumChoisi.albumBySuivant?'a pour suite '.concat(ctrl.albumChoisi.albumBySuivant.titre):''}"/>

    <h:dataTable value="#{ctrl.personnagesChoisis}" var="pers">
        <h:column>
            <f:facet name="header">
                <h:outputText value="Nom"/>
            </f:facet>
            <h:outputText value="#{pers.nom}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <h:outputText value="Prénom"/>
            </f:facet>
            <h:outputText value="#{pers.prenom}"/>
        </h:column>

    </h:dataTable>
    <h:form>
        <h:commandButton value="Home" action="#{ctrl.doHome}"/>
    </h:form>
</f:view>
</html>
