<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Paiement</title>
</h:head>
<h:body>
    <f:view>
        <h3>E-Cultura : Paiement</h3>
        <h:form>
            <h:panelGrid columns="3">
                <h:outputLabel value="Numero CB :" />
                <h:inputText id="numeroCBId" value="#{cartCtrl.numeroCB}" required="true" immediate="true">
                    <f:validateRegex pattern="[0-9]{6,12}" />
                </h:inputText>
                <h:message for="numeroCBId" errorClass="error" />

                <h:outputLabel value="Date d'expiration de la CB" />
                <h:inputText id="dateExpBId" value="#{cartCtrl.expirationDate}" required="true" immediate="true">
                    <f:convertDateTime pattern="dd//MM/yyyy" />
                </h:inputText>
                <h:message for="dateExpBId" errorClass="error" />

                <h:commandButton action="#{cartCtrl.doValidation}" value="Valider Paiement CB"/>

            </h:panelGrid>
        </h:form>

    </f:view>
</h:body>
</html>
