<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Video Service</title>
       </head>
   <body>
      <h1>Welcome</h1>

<a th:href="@{/pageGestionClients}">Gestion des clients</a>
<a th:href="@{/pageGestionFilms}">Gestion des films</a>
<a th:href="@{/pageEmprunts}">Gestion des emprunts</a>

   </body>
</html>
