<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>La fabrique a produits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>

    <div th:switch="${produits}" class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2 th:case="null">No products yet!</h2>
                <div th:case="*">
                    <h2 class="my-5">Liste des produits</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                        <tr>
<!--                            <th>ID</th>-->
                            <th>Nom</th>
                            <th>Quantité</th>
                            <th>Valeur</th>
                            <th>Modifier</th>
                            <th>Entrées</th>
                            <th>Sorties</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="produit : ${produits}">
<!--                            <td th:text="${book.id}"></td>-->
                            <td th:text="${produit.libelle}"></td>
                            <td th:text="${produit.qteStock}"></td>
                            <td th:text="${produit.valeurStock}"></td>
                            <td> <a th:href="@{/updateProduit (id=${produit.nproduit})}" class="btn btn-primary"><i class="fa fa-bible"></i></a></td>
                            <td> <a th:href="@{/showEntries (id=${produit.nproduit})}" class="btn btn-primary btn-success" ><span class="fas fa-sign-in-alt"></span></a></td>
                            <td> <a th:href="@{/showOutputs (id=${produit.nproduit})}" class="btn btn-primary btn-warning"><i class="fas fa-sign-out-alt"></i></a></td>
                            <td> <a th:href="@{/deleteProduit (id=${produit.nproduit})}" class="btn btn-primary btn-danger"><i class="fa fa-trash"></i></a></td>
<!--                            <td> <a th:href="@{/updateBook (id=${book.id})}" class="btn btn-primary"><i class="fa fa-trash"></i></a></td>-->
                       </tr>
                        </tbody>
                    </table>
                </div>
                <p class="my-5"><a th:href="@{/createProduit}" class="btn btn-primary btn-danger"><i class="fas fa-user-plus ml-2"></i></a></p>
            </div>
        </div>
    </div>
</body>
</html>
