<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>Personnes</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<div th:switch="${comptes}" class="container my-1">
    <div>
        <div class="col-md-9">
            <h2 th:case="null">No account</h2>
            <div th:case="*">
                <h2 class="ml-5">Liste de comptes</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Catégorie</th>
                        <th>Date de création</th>
                        <th>Solde</th>
                        <th>Bloqué</th>
                        <th>Decouvert Autorisé</th>
                        <th>Libelle</th>
                        <th>Taux Annuel</th>
                        <th>Date Maj</th>
                        <th>Créditer</th>
                        <th>Débiter</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="compte : ${comptes}">
                        <td th:text="${compte.numero}"></td>
                        <td th:text="${compte.categorie}"></td>
                        <td th:text="${compte.dateCreation}"></td>
                        <td th:text="${compte.solde}"></td>
                        <td th:text="${compte.bloque}"></td>
                        <td th:text="${compte.decouvertAutorise}"></td>
                        <td th:text="${compte.libelle}"></td>
                        <td th:text="${compte.tauxAnnuel}"></td>
                        <td th:text="${compte.dateMaj}"></td>
                        <td> <a th:href="@{/crediter (id=${compte.numero})}" class="btn btn-primary btn-warning"><i class="fa fa-bible"></i></a></td>
                        <td> <a th:href="@{/debiter (id=${compte.numero})}" class="btn btn-primary"><i class="fa fa-bible"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a th:href="@{/createProduit}" class="btn btn-primary btn-danger"><i class="fas fa-user-plus ml-2"></i></a></p>
        </div>
    </div>
</div>
</body>

</html>
