<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>Personnes</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<div th:switch="${personnes}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No Person</h2>
            <div th:case="*">
                <h2 class="ml-5">Liste de clients</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <!--                            <th>ID</th>-->
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Categorie</th>
                        <th>Adresse</th>
                        <th>SIREN</th>
                        <th>Comptes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="personne : ${personnes}">
                        <!--                            <td th:text="${book.id}"></td>-->
                        <td th:text="${personne.prenom}"></td>
                        <td th:text="${personne.nom}"></td>
                        <td th:text="${personne.categorie}"></td>
                        <td th:text="${personne.adresse}"></td>
                        <td th:text="${personne.siren}"></td>
                        <td> <a th:href="@{/comptes (id=${personne.id})}" class="btn btn-primary"><i class="fa fa-bible"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a th:href="@{/createProduit}" class="btn btn-primary btn-danger"><i class="fas fa-user-plus ml-2"></i></a></p>
        </div>
    </div>

</body>

</html>
