<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   
<head>
          
    <meta charset="UTF-8"/>
          <title>Add EMployee</title>
          
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       
</head>
   
<body>
      <h1>Create an Employee:</h1>
      
<form th:action="@{/addEmployee}" th:object="${employee}" method="POST">
             ID:
             <input type="text" th:field="*{empno}"/>   
             <br/>
             Name:
             <input type="text" th:field="*{empname}"/>   
             <br/>
             Role:
             <input type="text" th:field="*{position}"/>    
             <br/>
             <input type="submit" value="Create"/>
</form>
       
<br/>
</div>
</body>
</html>
