<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   
<head>
          
    <meta charset="UTF-8"/>
          <title>Employee List</title>
          
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       
</head>
   
<body>
      <h1>Employee List</h1>
      <a th:href="@{/addEmployee}">Add Employee</a>
      <br/><br/>
<div>
             
    <table border="1">
                    
        <tr>
                           
            <th>Name</th>
                           
            <th>Role</th>
                        
        </tr>
                    
        <tr th:each="emp : ${employees}">
                           
            <td th:utext="${emp.empname}">...</td>
                           
            <td th:utext="${emp.position}">...</td>
                           <a th:href="@{/deleteEmp/{id} ($id: emp.empno)"> </a>
            <td th:utext="${emp.position}">...</td>
                        
        </tr>
                 
    </table>
          
</div>
   
</body>
</html>