<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   
<head>
          
    <meta charset="UTF-8"/>
          <title>Welcome</title>
          
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       
</head>
   
<body>
      <h1>Welcome</h1>
       
       <a th:href="@{/employeeList}">Employee List</a>        
   
</body>
</html>
