<h1>{{title}}</h1>
<input [type]="monType">
<div class="hori; verti">
    <div class="square" [style.backgroundColor]="bgColor" (click)="changeColor('palevioletred')" [style.left.px]="left"
         style="float: left" (keypress)="doKeydown($event)" [style.bottom.px]="down"
    ></div>
  </div>


