h1{color:mediumvioletred;}
.square {
  height: 50px;
  width: 50px;
  border: 2px solid mediumvioletred;
  position: absolute;

}
.hori{
  position: absolute;
  top:500px;
  left:0;
  width:50%;
  height:4px;
  background: orangered;
}
.verti{
  position: absolute;
  left:500px;
  top:0;
  height:calc(50% + 4px);
  width:4px;
  background: orangered;
}
.debug{
  position: absolute;
  left:75%;
  top:20px;
}
