<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">


    <a th:href="@{/listeacteur}">Acteurs</a>

    |

    <a th:href="@{/selectionGenre}">Films d'un genre</a>

    |

    <a th:href="@{/emprunter}">Emprunter un film</a>

    |

    <a th:href="@{/listemprunter}">Liste des emprunts</a>

    |

    <a th:href="@{/listdesemprunt}">Rendre un film</a>

    |

    <a th:href="@{/gererclient}">Gestion des clients</a>

    |

    <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
</div>
</html>
