<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GESTION CLIENT</title>
</head>
<body>
<th:block th:include="/_menu"></th:block>
<table border="1">
    <tr>
     <th>Nom</th>
     <th>prenom</th>
                    <th>ville</th>
                    <th>ancienneté</th>
                    <th>modifier</th>
                    <th>supprimer</th>
    </tr>
    <tr th:each ="client : ${ensclient}">
    <td th:utext="${client.nom}">...</td>
    <td th:utext="${client.prenom}">...</td>
    <td th:utext="${client.adresse}">...</td>
    <td th:utext="${client.anciennete}">...</td>
    <td> <a th:href="@{/edit/{id}(id=${client.nclient})}">Edit</a></td>
    <td> <a th:href="@{/delete/{id}(id=${client.nclient})}">Delete</a></td>
    </tr>
    </table>


<form th:action="@{/saveclient}"
      method="POST">
    <label>Nom :</label>
    <input type="text" th:field="${newclient.nom}" /><br/>
    <label>Prenom :</label>
    <input type="text" th:field="${newclient.prenom}" /><br/>
    <label>Adresse :</label>
    <input type="text" th:field="${newclient.adresse}" /><br/>
    <label>Ancienneté :</label>
    <input type="text" th:field="${newclient.anciennete}" /><br/>

    <button type="submit">nouveau client</button>
</form>
</body>
</html>
