<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Welcome</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
<th:block th:include="/_menu"></th:block>
      <h1>Wsh</h1>

BONJOUR BIENVENUE SUR LA PREMIERE PAGE DE MON SKYBLOG
   </body>
</html>
