<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste d'acteur</title>
</head>
<body>
<th:block th:include="/_menu"></th:block>
<form th:action="@{/voirfilmbyacteur}"
      method="POST">
<ul>
    <li th:each="acteur : ${ensacteur}">
        <input type="radio" name="acteurchoisi" th:value="${acteur.nom}"  />
        <label th:text="${acteur.nom}">acteur</label>
    </li>
</ul>
    <button type="submit">valider</button>
</form>
</body>
</html>
