<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste d'acteur</title>
</head>
<body>
<th:block th:include="/_menu"></th:block>

<form th:action="@{/retouremprunt}"
      method="POST">
<ul>
    <li th:each="emprunt : ${ensemprunt}">
        <input type="radio" name="empruntchoisi" th:value="${emprunt.nemprunt}"  />
        <label th:text="${emprunt.client.nom} + ${emprunt.film.titre} + ${emprunt.dateemprunt}">emprunt</label>
    </li>
</ul>
    <button type="submit">valider</button>
</form>
</body>
</html>
