<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comptes</title>
</head>
<body>
<table>
    <input th:type="hidden" name="id" th:value="${id}"/>
</table>
<table border="1">
                
    <tr>
                       
        <th>NUMERO</th>
                       
        <th>DATE D'OUVERTURE</th>
                       
        <th>PLAFOND</th>
                       
        <th>BLOQUE</th>
                       
        <th>SOLDE</th>
                    
    </tr>
                
    <tr th:each="c : ${ensCompteClient}">
                       
        <td th:utext="${c.num}">...</td>
                       
        <td th:utext="${c.dateOpen}">...</td>
                       
        <td th:utext="${c.plafond}">...</td>
                       
        <td th:utext="${c.bloque}">...</td>
                       
        <td th:utext="${c.solde}">...</td>
        <!--                   <td><a th:href="@{/comptesClient/{id} (id = ${c.idClient})}">voir comptes</a></td>-->
                    
    </tr>
</table>
<table>
    <td><a th:href="@{/comptesClient/{id}/credit (id=${id})}"> [Créditer] </a></td>
    <td><a th:href="@{/comptesClient/{id}/debit (id=${id})}"> [Débiter] </a></td>
    <td><a th:href="@{/comptesClient/{id}/transfert (id=${id})}"> [Transfert] </a></td>
</table>
</body>
<footer>
    <a th:href="@{/}">Menu</a>
</footer>
</html>