<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>   
</head>
<body>
      <h1>Liste des acteurs:</h1>      

<!--<form th:action="@{/acteursList}" th:object="${listActeur}" method="post">-->
<!--             Name:-->
<!--             <td <input type="text" th:field="${listActeur.ge}"/>   -->
<!--             <br/>-->
<!--             Role:-->
<!--             <input type="text" th:field="*{role}"/>    -->
<!--             <br/>-->
<!--             <input type="submit" value="Create"/>-->
<!--</form>-->

<table border="1">
                    <tr>
                       <th>NOM</th>
                       <th>PRENOM</th>
                       <th>NAISSANCE</th>
                       <th>NATIONAILTE</th>
                       <th>Nombre de Films</th>
        <th>Liste des Films par Genre</th>
                    </tr>
                    <tr th:each ="act : ${listActeur}">
                       <td th:utext="${act.getNom()}">...</td>
                       <td th:utext="${act.getPrenom()}">...</td>
                       <td th:utext="${act.getNaissance()}">...</td>
                       <td th:utext="${act.getNationalite().getNom()}">...</td>
                       <td th:utext="${act.getNbrefilms()}">...</td>
                       <td><a th:href="@{/filmsListActeur/{id} (id = ${act.nacteur})}">voir</a></td>

                    </tr>
                 </table>
<br/>
   
</body>
</html>
