<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>   
</head>
<body>
<div th:switch="${listClients}">
    <h2 th:case="null">Aucun client !</h2>
    <div th:case="*">
        <h2>Clients</h2>
        <table>
            <thead>
            <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Edit</th>
            <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${listClients}">
                <td th:text="${client.nom}"></td>
                <td th:text="${client.prenom}"></td>
                <td><a th:href="@{/edit/{id} (id=client.nclient)}">Edit</a> </td>
                <td><a th:href="@{/delete/{id} (id=client.nclient)}">Delete</a> </td>
                <td th:text="${client.nom}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>