<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Emprunt</title>
</head>
<body>
<h3> Client : </h3>
<form th:action="@{/emprunt}"
      method="POST">
    <select name="clientchoisi">
    <option th:each="client : ${listClients}"
            th:value="${client.nom}"
            th:text="${client.getNom()} +' '+ ${client.getPrenom()}">Client</option>
</select>
    emprunte :
    <select name="filmchoisi">
        <option th:each="film : ${listFilms}"
                th:value="${film.titre}"
                th:text="${film.titre}">Film</option>
    </select>



    <button type="submit"> valider </button>
</form>


</body>
</html>