<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genre</title>
</head>
<body>
<form th:action="@{/voirfilm}"
      method="POST">
    <select name="genrechoisi">
        <option th:each="genre : ${listegenre}"
                th:value="${genre.nature}"
                th:text="${genre.nature}">Genre</option>
    </select>
    <button type="submit"> valider </button>
</form>
</body>
</html>