<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
    <title>Film de genre</title>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<li class="nav-item">
    <a class="nav-link" href="/selectgenre">Genres</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/index">All</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/selectyear">Years</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/selectdirector">Director</a>
</li>

<div class="row">
    <div class="col-md-6">
            <h2 class="my-5">Movies</h2>
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Country</th>
                    <th>Genre</th>
                    <th>Year</th>
                    <th>Director</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.title}"></td>
                    <td th:text="${movie.country}"></td>
                    <td th:text="${movie.genre}" </td>
                    <td th:text="${movie.year}"></td>
                    <td th:text="${movie.director.lastname + ' '+ movie.director.firstname}"></td>
                </tr>
                </tbody>
            </table>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>