<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h1>ARÈNE</h1>
    <h:form>
        <h:outputLabel value="Bon chance #{ctrl.login}"/>
        <h:selectOneMenu value="#{ctrl.choix}">
            <f:selectItem itemValue="PIERRE" itemLabel="PIERRE"/>
            <f:selectItem itemValue="FEUILLE" itemLabel="FEUILLE"/>
            <f:selectItem itemValue="CISEAUX" itemLabel="CISEAUX"/>
        </h:selectOneMenu>
        <h:commandButton action="#{ctrl.updateChoix}" value="COMBATTRE"/>

    </h:form>

</f:view>
</html>
