<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:outputLabel value="Hello, world"/>

    <h:form>
        <h:selectOneMenu value="#{ctrl.idPersonnageChoisi}">
            <f:selectItem itemLabel="Veuillez choisir un personnage" noSelectionOption="true"/>
            <f:selectItems value="#{ctrl.ensPersonnages}" var="pers" itemLabel="#{pers.nom}
             #{pers.prenom}" itemValue="#{pers.id}"/>
        </h:selectOneMenu>
        <h:commandButton value="Les Albums du personnage choisi" action="#{ctrl.doShowAlbumsDuPersonnageChoisi}"/>
    </h:form>
</f:view>
</html>
