<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:outputLabel value="Hello, world"/>
    <h:form>
        <h:dataTable value="#{appCtrl.appUsers}" var="user">
            <h:column>
                <f:facet name="HEADER">Login</f:facet>
                <h:outputText value="#{user.login}"/>
            </h:column>
            <h:column>
                <f:facet name="HEADER">Choix</f:facet>
                <h:outputText value="#{user.choix}"/>
            </h:column>
        </h:dataTable>
        <h:commandButton action="#{appCtrl.goNextRound}" value="Manche suivante"/>
    </h:form>
</f:view>
</html>
