<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Avions</title>
</h:head>
<h:body>
    <f:view>
        <h:form>
            <h:dataTable value="#{avionCtrl.listeType}" var="liste">
                <h:column>
                    <f:facet name="HEADER">Nom</f:facet>
                    <h:outputText value="#{liste.nom}"/>
                </h:column>
                <h:column>
                    <f:facet name="HEADER">Capacité</f:facet>
                    <h:outputText value="#{liste.capacite}"/>
                </h:column>
                <h:column>
                    <f:facet name="HEADER"></f:facet>
                    <h:commandButton value="Supprimer" action="#{avionCtrl.doDeleteTypeAvion(liste)}"/>
                </h:column>
            </h:dataTable>
        </h:form>

        <h:form>
            <h:outputText>Nom</h:outputText><h:inputText value="#{avionCtrl.nom}"/>
            <h:outputText>Capacité</h:outputText><h:inputText value="#{avionCtrl.capacite}"/>
            <h:commandButton value="Créer" action="#{avionCtrl.doCreateTypeAvion}"/>
        </h:form>
    </f:view>
</h:body>
</html>

