<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
   <title>Liste Personne</title>
</h:head>
<h:body>
   <f:view>
      <h:form>
         <h:dataTable value="#{PersonneCtrl.liste}" var="p">
            <h:column>
               <f:facet name="HEADER">Prenom</f:facet>
               <h:outputText value="#{p.prenom}"/>
            </h:column>
            <h:column>
               <f:facet name="HEADER">Nom</f:facet>
               <h:outputText value="#{p.nom}"/>
            </h:column>
         </h:dataTable>
      </h:form>
      <h:form>
         <h:commandButton value="Avions" action="avion"/>
      </h:form>
   </f:view>
</h:body>
</html>

