@CHARSET "UTF-8";

p.titre {
  background: cornflowerblue;
  color: window;
  padding:.2em .3em;
  font-size:1.2em;
  border:2px outset blue;
  position:relative;
  margin-bottom:-1em;
  width:10em;
  margin-left:1em;
  margin-top:1em;
}

fieldset {
  border:none;
  margin-bottom:1em;
  width:24em;
  padding-top:1.5em;
}

select {
  margin-left:9em;
  margin-bottom:0;
}

fieldset#coordonnees {
  background: window;
  border:outset window;
}

#coordonnees label {
  position:absolute;
  font-size:90%;
  padding-top:.2em;
  left:20px;
}

#coordonnees input {
  margin-left:9em;
  line-height:1.4em;
  margin-bottom:.2em;
}

/* fieldset message */
fieldset#message {
  background: window;
  border:outset window;
}

/* zone de texte du message */
#message textarea {
  font:.8em "Trebuchet MS", Verdana, sans-serif;
  width:29em;
  padding:.2em;
}

/* les boutons submit et reset */
input[type="submit"], input[type="reset"] {
  background :window;
  font:1.2em "Trebuchet MS", Verdana, sans-serif;
  color:#345071;
}

p#buttons {
  text-align:center;
}
