<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
</head>
<body>
<h3> BONJOUR <span th:text="${panierCommande.client.nom}"/> </h3>
<form th:action="@{/panier}" method="post">
    <table>
        <tr>
            <th>Descriptif :</th>
            <th>Prix :</th>
            <th>Disponible :</th>
            <th>Quantité en stock</th>
            <th></th>
        </tr>
        <tr th:each ="produit : ${ensProduits}">
            <td th:utext="${produit.descriptif}">...</td>
            <td th:utext="${produit.prix}">...</td>
            <td th:utext="${produit.disponible}">...</td>
            <td th:utext="${produit.qteenstock}">...</td>
            <td><input type="checkbox" name="addpanier" th:value="${produit.nproduit}"  /></td>
        </tr>
    </table>
    <button type="submit">ajout au panier</button>
</form>
<table>
    <td><a th:href="@{/voirPanier}"> [PANIER] </a></td>
<!--    <td><a th:href="@{/comptesClient/{id}/debit (id=${id})}"> [Débiter] </a></td>-->
<!--    <td><a th:href="@{/comptesClient/{id}/transfert (id=${id})}"> [Transfert] </a></td>-->
</table>
</body>
<footer>
    <a th:href="@{/}">Deconnexion</a>
</footer>
</html>