<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Panier</title>
</h:head>
<h:body>
    <f:view>
        <h3>E-Cultura : Panier</h3>
        <h:form>
            <h:dataTable cellspacing="6" columns="2" value="#{cartCtrl.panier}" var="achat">
                <h:column>
                    <f:facet name = "header">Titre</f:facet>
                    <h:outputText value="#{achat.titre}" required="true"/>
                </h:column>

                <h:column>
                    <f:facet name = "header">Quantité</f:facet>
                    <h:inputText value="#{achat.quantite}" valueChangeListener="#{cartCtrl.updateQte}">
                        <f:validateLongRange minimum="1" maximum="3"/>
                    </h:inputText>
                </h:column>

                <h:column>
                    <f:facet name = "header">Prix</f:facet>
                    <h:outputText value="#{achat.prix}" required="true">
                        <f:convertNumber type="currency" pattern="####.##"/>
                    </h:outputText>

                    <f:facet name="footer">
                        <h:outputText value="#{cartCtrl.totalPanier}" styleClass="prix">
                            <f:convertNumber type="currency" pattern="####.##"/>
                        </h:outputText>
                    </f:facet>
                </h:column>

                <h:column>
                    <h:commandButton value="modifier" action="#{cartCtrl.doModifierAchat(achat)}"/>
                </h:column>
                <h:column>
                    <h:commandButton value="supprimer" action="#{cartCtrl.doSupprimerAchat(achat)}"/>
                </h:column>

            </h:dataTable>
        </h:form>
        <h:form>
            <h:panelGrid columns="2" cellspacing="10">
                <h:commandButton value="Valider le panier" action="paiement"/>
                <h:commandButton value="Catalogue" action="#{cartCtrl.doListItem}"/>
            </h:panelGrid>
        </h:form>
    </f:view>
</h:body>
</html>
