<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:panelGrid columns="3" border="0" cellpadding="6" cellspacing="1">
            <f:facet name="header"><h:outputText value="Ajout d'un gangster"/> </f:facet>

            <h:outputLabel for="nomInput" value="nom"/>
            <h:inputText id="nomInput" value="#{gangCtrl.newGang.gname}" required="true" requiredMessage="Nom obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="nomInput" tooltip="true" showDetail="true"/>

            <h:outputLabel for="surnomInput" value="surnom"/>
            <h:inputText id="surnomInput" value="#{gangCtrl.newGang.nickname}" required="true"
                         requiredMessage="surnom obligatoire" size="20" maxlength="30"/>
            <h:message for="surnomInput" tooltip="true" showDetail="true"/>

            <h:outputLabel for="mauvaisCoupInput" value="badness"/>
            <h:inputText id="mauvaisCoupInput" value="#{gangCtrl.newGang.badness}" required="true"
                         requiredMessage="mauvais coup obligatoire"  validatorMessage="Nombre compris entre 0 et 100" size="3" maxlength="3">
                <f:validateLongRange min="5" maximum="200" />
            </h:inputText>
            <h:message for="mauvaisCoupInput" tooltip="true" showDetail="true"/>

            <h:panelGroup>
                <h:commandButton value="Ajouter le gangster" action="#{gangCtrl.addGangster}"/>
            </h:panelGroup>
        </h:panelGrid>
    </h:form>
    <h:form>
        <h:commandButton value="" action="index" style="background-image: url('icons/Accueil.png') "/>
    </h:form>
</f:view>
</html>
