<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:panelGrid columns="3">
            <f:facet name="header"><h:outputText value="Suppression d'un gangster"/> </f:facet>
        <h:outputLabel for="gangIdInput" value ="nom du gangster :"/>
        <h:selectOneMenu value="#{gangCtrl.idGangsterChoisi}" id="gangIdInput" required="true" requiredMessage="Choix obligatoire">
            <f:selectItem itemLabel="veuillez choisir un gangster" noSelectionOption="true"/>
            <f:selectItems value="#{gangCtrl.listeGangsters}" var="gang" itemLabel="#{gang.gname} #{gang.nickname}"
                           itemValue="#{gang.gangsterId}"/>
        </h:selectOneMenu>
        <h:message for="gangIdInput" tooltip="true" showDetail="true"/>
        </h:panelGrid>
        <br />
        <br />

        <h:commandButton value="Retrait du gangster" action="#{gangCtrl.deleteGangster}" />
    </h:form>
    <h:form>
        <h:commandButton value="" action="index" style="background-image: url('icons/Accueil.png') "/>
    </h:form>
</f:view>
</html>
