<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
   <h:form>
      <f:facet name="header"><h:outputText value="PORTAIL DU CRIME 10 12 14 Bureau"/> </f:facet>
      <h:panelGrid columns="3" border="0" cellpadding="6" cellspacing="2">
         <h3>Organisations</h3>
      <h:commandButton value="Créer Organisation" action="orgAjout" />
      <h:commandButton value="Lister/Supprimer Organisation" action="orgSuppression" />
         <h3>Gansters</h3>
      <h:commandButton value="Créer un gangster" action="gangAjout" />
      <h:commandButton value="Supprimer un gangster" action="gangSuppression" />
         <h3>Gestion</h3>
         <h:commandButton value="Gangsters des organisations" action="orgGangsters" />
         <h:commandButton value="Affecter gangsters aux organisations" action="gangsterAffectationOrg" />
         <h3>Job</h3>
         <h:commandButton value="Créer un job" action="jobAjout" />
         <h:commandButton value="Modifier un job" action="jobUpdate" />
         <h3>Boss</h3>
         <h:commandButton value="Elire un boss" action="gangsterBoss" />
         <h:outputText value=""/>

      </h:panelGrid>
   </h:form>
</f:view>
</html>
