<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
</h:head>
<h:body>
    <f:view>
        <h:outputLabel value="Choisir un gangster à supprimer : "/>
        <h:form>
            <h:outputLabel for="jobNameInput" value="Organisation"/>
            <h:selectOneMenu value="#{jobctrl.jobChoisi}" id="jobNameInput" required="true"
                             requiredMessage="choix d'un job">
                <f:selectItem itemLabel="Veuillez choisir un gangster" noSelectionOption="true"/>
                <!-- noSelectionOption empeche de selectionner le message veuillez choisir une organisation-->
                <f:selectItems value="#{jobctrl.jobs}" var="job"
                               itemLabel="#{job.jobName}"
                               itemValue="#{job.jobId}"/>
                <f:ajax render="gangsterID" />
            </h:selectOneMenu>
            <h:message for="jobNameInput" showDetail="true"/>
            <br/>
            <h:dataTable value="#{jobctrl.jobAModifier}" var="j" id="gangsterID">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="nom"/>
                    </f:facet>
                    <h:inputText value="#{j.jobName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Benefice"/>
                    </f:facet>
                    <h:inputText value="#{j.score}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Investissement"/>
                    </f:facet>
                    <h:inputText value="#{j.setupcost}"/>
                </h:column>
            </h:dataTable>
            <br/>
            <h:commandButton value="Modifier le job"
                             action="#{jobctrl.doJobUpdate}"/>
        </h:form>
        <h:form>
            <h:commandButton value="" action="index" style="background-image: url('icons/Accueil.png') "/>
        </h:form>
    </f:view>
</h:body>
</html>