<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>PORTAIL DU CRIME MAGGLE</title>
</h:head>

<h:body>
    <f:view>
        <h:form>
            <f:facet name="header"><h:outputText value="Liste des gangsters par Organisation"/> </f:facet>
            <h:panelGrid columns="3">
                <h:outputLabel for="orgNameInput" value="Organisation : "/>
                <h:selectOneMenu value="#{orgCtrl.nameChoisi}" id="orgNameInput" required="true"
                                 requiredMessage="Choix obligatoire">
                    <f:selectItem itemLabel="veuillez choisir une organisation" noSelectionOption="true"/>
                    <f:selectItems value="#{orgCtrl.listeOrganisations}" var="org"
                                   itemLabel="#{org.orgName} - #{org.description}"
                                   itemValue="#{org.orgName}"/>
                    <f:ajax render="gangstersID"/>
                </h:selectOneMenu>
                <h:message for="orgNameInput"/>
            </h:panelGrid>

            <br/>
            <br/>

            <h:dataTable value="#{orgCtrl.gangstersOfOrg}" var="g" id="gangstersID">

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nom"/>
                    </f:facet>
                    <h:outputText value="#{g.gname}"/>
                </h:column>

                <h:column>
                    <f:facet name="header" >
                        <h:outputText value="Nickname"/>
                    </f:facet>
                    <h:outputText value="#{g.nickname}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Badness"/>
                    </f:facet>
                    <h:outputText value=" #{g.badness}"/>
                </h:column>

<!--                <h:column>-->
<!--                    <f:facet name="header">-->
<!--                        <h:outputText value=""/>-->
<!--                    </f:facet>-->
<!--                    <h:commandButton value="Supprimer" action="#{g.badness}"/>-->
<!--                </h:column>-->

            </h:dataTable>
        </h:form>
        <h:form>
            <h:commandButton value="" action="index" style="background-image: url('icons/Accueil.png') "/>
        </h:form>
    </f:view>
</h:body>

</html>
