<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>

    <f:facet name="header"><h:outputText value="Liste des organisations"/> </f:facet>
        <br /><br />

        <h:form>
            <h:dataTable value="#{orgCtrl.listeOrganisations}" var="ensOrg">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nom"/>
                    </f:facet>
                    <h:outputText value="#{ensOrg.orgName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Description"/>
                    </f:facet>
                    <h:outputText value="#{ensOrg.description}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Boss"/>
                    </f:facet>

                    <h:outputText value=" #{not empty ensOrg.boss?ensOrg.boss.gname.concat(' ').concat(ensOrg.boss.nickname):''}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value=""/>
                    </f:facet>
                    <h:commandButton value="Supprimer" action="#{orgCtrl.deleteOrganisation(ensOrg)}" />
                </h:column>
            </h:dataTable>
        </h:form>
    <h:form>
        <h:commandButton value="" action="index" style="background-image: url('icons/Accueil.png') "/>
    </h:form>
</f:view>
</html>
