<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Organisations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div th:switch="${orgs}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <nav class="navbar nav-expand-sm bg-light navbar-dark  ">
                <ul class="navbar nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Organisations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/indexgangster">Gangsters</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No organisations yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Organisations</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Boss</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orga : ${orgs}">
                        <td th:text="${orga.orgname}"></td>
                        <td th:text="${orga .description}"></td>
                        <td th:text="${orga.theboss} != null? ${orga.theboss.gname}:'( no boss )'"></td>
                        <td><a th:href="@{/edit(id=${orga.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                        <td><a th:href="@{/delete(id=${orga.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a href="/signup" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
        </div>
    </div>
</div>
</body>
</html>