<h2>Cocktails : </h2>
<ul  class="list-group">
  <li class="list-group-item" [class.active]="selectedCocktail.id == cocktail.id" (click)="setSelelectCocktail($event, cocktail)" *ngFor="let cocktail of cocktails">{{cocktail.nom}}</li>
  <input type="button" value="Supprimer" (click)="deleteCocktail($event)">
  <div><input type="number" value="Qte" [(ngModel)]="qte">
  <input type="button" value="Ajouter Panier" (click)="AjoutPanier($event)"></div>
</ul>
<br />
<br />
<form>
  <div>
    <div>Nom du Cocktail: <input type="text" name="name" id="name" required [(ngModel)]="newCocktail.nom"></div>
    <div>prix: <input type="text" name="prix" id="ingredient_name" required [(ngModel)]="newCocktail.prix"></div>
  </div>

  <div>
    <input type="button" value="Ajouter cocktail" (click)="createCocktail($event)">
  </div>
</form>
