<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
   <title>Connexion</title>
</h:head>
<h:body>
   <f:view>
      <h:outputText value="Bonjour #{loginCtrl.doGetUser}"/>
      <h:form>
         <h:dataTable value="#{loginCtrl.listeUser}" var="user">
            <h:column>
               <f:facet name="HEADER">Prenom</f:facet>
               <h:outputText value="#{user.prenom}"/>
            </h:column>
            <h:column>
               <f:facet name="HEADER">Nom</f:facet>
               <h:outputText value="#{user.nom}"/>
            </h:column>
            <h:column>
               <f:facet name="HEADER">Fonction</f:facet>
               <h:outputText value="#{user.fonction}"/>
            </h:column>
         </h:dataTable>

      </h:form>
   </f:view>
</h:body>
</html>
