<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to the Library</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>

<body>
<h1>Bienvenue</h1>

<a th:href="@{/listBooks}">Liste des livres</a>
<form th:action="@{/listBooksOfAuthor}">
    Recherche par auteur: <input type="text" name="findauthor">
    <input type="submit">
</form>


</body>
</html>
