<h2 *ngIf="cocktail">Ingrédient de {{cocktail.nom}} </h2>
<ul class="list-group" *ngIf="cocktail">
  <li class="list-group-item" [class.active]="selectedIngredient.nom == ingredient.nom" (click)="setSelelectIngredient($event,ingredient)" *ngFor="let ingredient of cocktail.ingredients" >
    {{ingredient.nom}} <span class="badge">{{ingredient.quantite}}</span></li>
</ul>

<form *ngIf="selectedIngredient.nom">
  <div >
    <div>Ingredient: <input type="text" name="ingredient_name" id="ingredient_name" [value]="cocktail.ingredients[cocktail.ingredients.indexOf(selectedIngredient)].nom" [(ngModel)]="selectedIngredient.nom"></div>
    <div>Quantite: <input type="text" name="ingredient_qte" id="ingredient_qte" [value]="cocktail.ingredients[cocktail.ingredients.indexOf(selectedIngredient)].quantite" [(ngModel)]="selectedIngredient.quantite"></div>
  </div>

  <div>
    <input type="button" value="Supprimer l'ingredient" (click)="deleteIngredient($event)">
  </div>
</form>

<form *ngIf="!selectedIngredient.nom">
  <div >
    <div>Ingredient: <input type="text" name="ingredient_name_add" id="ingredient_name_add" [(ngModel)]="newIngr.nom" ></div>
    <div>Quantite: <input type="text" name="ingredient_qte_add" id="ingredient_qte_add" [(ngModel)]="newIngr.quantite" ></div>
  </div>

  <div>
    <input type="button" value="Ajouter un ingredient" (click)="addIngredient($event,newIngr)">
  </div>
</form>

