root {
    display: block;
}
div#entete {
    width: 500px;
    padding: 10px 20px;
    background: lavender;
    color: midnightblue;
    text-align:center;
    font-weight: bold;
    font-style: italic; font-size: 1.5em;
}
div#contenu{
    width:500px;
    padding: 10px 20px;
    background: lavender;
    color: midnightblue;
}
div#piedpage {
    width:500px;
    padding: 10px 20px;
    background: lavender;
    color: midnightblue;
}



form p {
    margin: 1em 0;
}
form p.double {
    /* Empcher le dpassement des flottants */
    overflow: hidden;
    width: 100%;
}
form p.double label {
    float: left;
    width: 150px;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}
form p.double label span.info {
    display: block;
    margin-top: .2em;
    font-size: .8em;
    font-weight: normal;
    cursor: default;
}

form p.double  span.erreur {
    margin-top: .2em;

    font-weight: normal;
    color: red;
}

form p.double input, form p.double textarea {
    width: 250px;
    margin-left: 12px;
    border: solid 1px midnightblue;
    padding: 2px 4px;
}
form p.double textarea {
    padding: 2px 0 0 4px;
    width: 320px;
    height: 6em;
}
form p.double input[type="text"]:required {
    background-color: bisque;
}

form p.simple {
    margin-left: 160px;
}



form fieldset {
    margin: 0; padding: 0; border: none;
}
form fieldset legend {
    margin: 0; padding: 0; font-weight: bold; font-style: italic; font-size: 1.1em;
}