<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MOVIES 2020</title>
</head>

<body>
<h1>Wesh</h1>

<a th:href="@{/movies}">Films</a>
</body>
</html>
