<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div th:switch="${movies}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <nav class="navbar nav-expand-sm bg-light navbar-dark  ">
                <ul class="navbar nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Index</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/indexgangster">Gangsters</a>-->
<!--                    </li>-->
                </ul>
            </nav>
        </div>
    </div>
    <div th:switch="${movies}" class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2 th:case="null">Aucun film</h2>
                <div th:case="*">
                    <h2 class="my-5">Films</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Annee</th>
                            <th>Genre</th>
                            <th>Directors</th>
                            <th>Acteurs</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="film : ${movies}">
                            <td th:text="${film.title}"></td>
                            <td th:text="${film.year}"></td>
                            <td th:text="${film.genre}"></td>
                            <td th:text="${film.director.firstname} + ' ' + ${film.director.lastname}"></td>
<!--                            <td><a th:href="@{/editgangster(id=${gangster.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>-->
                            <td><table>
                                <tbody>
                                <tr th:each="actors : ${film.actors}">
                                   <td th:text="${actors.firstname} + ' ' + ${actors.lastname}"> <a th:href="@{/showActor/(id=${actors.id})}" row>OE</a></td>
                                </tbody>
                            </table>
                            </td>
                        </tbody>
                    </table>
                </div>
                <p class="my-5"><a href="/signupgangster" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
