<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
    <h:outputText value="NOM"/>
    <h:inputText value="#{loginCtrl.newNom}" />
    <h:outputText value="PRENOM"/>
    <h:inputText value="#{loginCtrl.newPrenom}" />
        <h:commandButton value="Creer" action="#{loginCtrl.doCreateClient}"/>
    </h:form>
</f:view>
</html>
