<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>

</h:head>
<h:body>
    <p>
    <f:view>
        <h:form>
            <!--        <p:themeSwitcher>-->
            <!--            <f:selectItem itemLabel="&#45;&#45;Choose Theme&#45;&#45;" itemValue="" />-->
            <!--            <f:selectItems value="#{themeChoices.themes}" />-->
            <!--        </p:themeSwitcher>-->
        </h:form>
        <h:form>
            <b>Choose number:</b>
            <p:spinner />
            <br/><b>Choose date:</b>
            <p:calendar />
        </h:form>

        <h:form>

            <h:outputLabel value="Login"/>
            <h:panelGrid columns="4" cellspacing="6">
                <h:outputText value="Prenom"/>
                <h:inputText value="#{loginCtrl.prenom}"/>
                <h:outputText value="Nom"/>
                <h:inputText value="#{loginCtrl.nom}"/>

                <h:commandButton value="Connexion" action="#{loginCtrl.doAuthenticate}"/>

            </h:panelGrid>
        </h:form>
    </f:view>
    </p>
</h:body>

</html>
