<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:panelGrid columns="3" border="0" cellpadding="5" cellspacing="1">
            <f:facet name="header"><h:outputText value="Ajout d'un Item"/></f:facet>

            <h:outputLabel for="titreInput" value="nom"/>
            <h:inputText id="titreInput" value="#{itemCtrl.newitem.titre}" size="20" maxlength="30"/>
            <h:message for="titreInput" tooltip="true" showDetail="true"/>

            <h:outputLabel for="catInput" value="categorie"/>
            <h:inputText id="catInput" value="#{itemCtrl.newitem.categorie}" required="true"
                         requiredMessage="description obligatoire" size="20" maxlength="30"/>
            <h:message for="catInput" tooltip="true" showDetail="true"/>

            <h:outputLabel for="prixInput" value="prix"/>
            <h:inputText id="prixInput" value="#{itemCtrl.newitem.prix}" required="true"
                         requiredMessage="prix obligatoire" size="20" maxlength="30">
            <f:convertNumber type="currency" pattern="####.##"/>
        </h:inputText>
            <h:message for="prixInput" tooltip="true" showDetail="true"/>

            <h:outputLabel for="codeInput" value="Code barre"/>
            <h:inputText id="codeInput" value="#{itemCtrl.newitem.codeBarre}" required="true"
                         requiredMessage="code obligatoire" size="20" maxlength="30"/>
            <h:message for="codeInput" tooltip="true" showDetail="true"/>


            <h:panelGroup>
                <h:commandButton value="Enregistrer" action="#{itemCtrl.doAddItem}"/>
            </h:panelGroup>
        </h:panelGrid>
    </h:form>
    <h:form>
        <h:commandButton action="showCatalogue" value="Voir catalogue"></h:commandButton>
    </h:form>
</f:view>
</html>
