<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CLIENTS</title>
</head>
<body>

<table border="1">
                
    <tr>
                       
        <th>NOM</th>
                     
          
        <th>PRENOM</th>
                       
        <th>ADRESSE</th>
                    
    </tr>
                
    <tr th:each="c : ${listClient}">
                       
        <td th:utext="${c.nom}">...</td>
                       
        <td th:utext="${c.prenom}">...</td>
                       
        <td th:utext="${c.adresse}">...</td>
                       
        <td><a th:href="@{/comptesClient/{id} (id = ${c.idClient})}">voir comptes</a></td>
                    
    </tr>
</table>
</body>
<footer>
    <a th:href="@{/}">Menu</a>
</footer>
</html>