<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfert</title>
</head>
<body>
<form th:action="@{/transfert}"
      method="POST">
    <select name="compteorigin">
        <option th:each="compteClient : ${ensCompteClient}"
                th:value="${compteClient.idCompte}"
                th:text="${compteClient.idCompte} + '|'+${compteClient.num} + ': [$' + ${compteClient.solde} + ']'">
            Compte
        </option>
    </select>
    VERS
    <select name="comptedest">
        <option th:each="compte : ${ensComptes}"
                th:value="${compte.idCompte}"
                th:text="${compte.idCompte} + '|'+${compte.num} + ': [$' + ${compte.solde} + ']'">Compte
        </option>
    </select>
    Envoie
    <input th:type="decimal" th:name="montant" id="montant"/>
    <br/>
    <button type="submit"> valider</button>
</form>
</body>
<footer>
    <a th:href="@{/}">Menu</a>
</footer>
</html>

