<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Show Panier</title>
</h:head>
<h:body>
    <h:outputStylesheet library="css" name="style.css"  />

    <h3> E-Cultura : Contenu du Panier </h3>
    <br />
    <f:view>
        <h:form>
            <h:dataTable value="#{cartCtrl.panier}"
                         var="achat"
                         headerClass="c"
                         footerClass="c"
                         styleClass="zoneEditor">
                <h:column>
                    <f:facet name="header">
                        Titre
                    </f:facet>
                    <h:outputText value="#{achat.titre}" ></h:outputText>
                    <f:facet name="footer">
                        Valeur du panier
                    </f:facet>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Prix
                    </f:facet>
                    <h:outputText value="#{achat.prix}" styleClass="prix">
                        <f:convertNumber type="currency" pattern="####.##"/>
                    </h:outputText>
                    <f:facet name="footer" >
                        <h:outputText value="#{cartCtrl.totalPanier}" styleClass="prix">
                            <f:convertNumber type="currency" pattern="####.##" />
                        </h:outputText>
                    </f:facet>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Quantité
                    </f:facet>
                    <h:inputText value="#{achat.quantite}" valueChangeListener="#{cartCtrl.updateQte}">
                        <f:validateLongRange minimum="1" maximum="3"/>
                    </h:inputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Prix*Quantité
                    </f:facet>
                    <h:outputText value="#{achat.prix * achat.quantite}" styleClass="prix">
                        <f:convertNumber type="currency" pattern="####.##" />
                    </h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Modifier
                    </f:facet>
                    <h:commandButton value="Modifier"
                                     action="#{cartCtrl.doModifierAchat(achat)}" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Action
                    </f:facet>
                    <h:commandButton value="Supprimer"
                                     action="#{cartCtrl.doSupprimerAchat(achat)}" />
                </h:column>
            </h:dataTable>
            <br />

            <h:panelGroup styleClass="zoneButton">
                <h:commandButton action="#{cartCtrl.doListeItems}" value="Catalogue" />&nbsp;
                <h:commandButton action="paiement" value="Valider la commande" />
            </h:panelGroup>

        </h:form>

    </f:view>
</h:body>
</html>