<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Entrées</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>

<div th:switch="${produit.getStockEntrees()}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No entries yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Liste des entrées de </h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Quantité</th>
                        <th>Prix Unitaire</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="output : ${produit.stockEntrees}">
                        <td th:text="${output.qteEntree}"></td>
                        <td th:text="${output.prixUnitaire}"></td>
                        <td th:text="${output.dateEntree}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a th:href="@{/createOutput (id=${produit.nproduit})}" class="btn btn-primary btn-danger"><i class="fas fa-user-plus ml-2"></i></a></p>
        </div>
    </div>
</div>
</body>
</html>
