
<div class="container-fluid">
  <div class="row">
    <header>
      <app-header></app-header>
    </header>
    <div class="col-md-6">
      <app-cocktails-list (showIngredient)="setDetailIngredient($event)" ></app-cocktails-list>
    </div>
    <div class="col-md-6">
      <app-ingredients-list [cocktail]="selectedCocktail"></app-ingredients-list>
    </div>
  </div>
</div>
