<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:outputText value="Bonjour, #{loginCtrl.nom} #{loginCtrl.prenom}"/>
    <h:form>
        <h:dataTable value="#{loginCtrl.ensClient}" var="c">
            <h:column>
                <f:facet name="HEADER">Nom</f:facet>
                <h:outputText value="#{c.nom}"/>
            </h:column>
            <h:column>
                <f:facet name="HEADER">Prenom</f:facet>
                <h:outputText value="#{c.prenom}"/>
            </h:column>
        </h:dataTable>
    </h:form>
    <h:form>
        <h:commandButton value="Deconnexion" action="#{loginCtrl.doDeconnexion}"/>
        <h:commandButton value="Creer client" action="createClient"/>
    </h:form>
</f:view>
</html>
