<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Credit</title>
</head>
<body>    <!--/*@thymesVar id="montant" type=""*/-->
<form th:action="@{/credit}"
      method="POST">
    <select name="comptechoisi">
        <option th:each="compte : ${ensCompteClient}"
                th:value="${compte.idCompte}"
                th:text="${compte.idCompte} + '|'+${compte.num} + ': [$' + ${compte.solde} + ']'">Compte</option>
    </select>


    <input th:type="decimal" th:name="montant" th:value="${montant}" id="montant"/>
    <button type="submit"> valider </button>
</form>
</body>
<footer>
    <a th:href="@{/}">Menu</a>
</footer>
</html>