<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Welcome to the Picsou</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Bienvenue</h1>
       
       <a th:href="@{/clientsList}">Liste des clients</a>            
<!--       <a th:href="@{/selectionGenre}">Liste des Films par Genre</a>      -->
<!--       <a th:href="@{/pageEmprunt}">Emprunter</a>      -->
<!--       <a th:href="@{/pageListEmprunt}">Emprunts</a>      -->
<!--       <a th:href="@{/templates/clientsList.html}">Clients</a>      -->

   </body>
</html>
