<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
</head>
<body>
<h2>PANIER</h2>
<form th:action="@{/validerPanier}" th:method="POST">
<table border="1" >
                <tr>
                   <th>DESCRIPTIF</th>
                   <th>PRIX</th>
                   <th>DISPONIBLE</th>
                   <th>Quantité en stock</th>
                   <th>RETIRER</th>
                </tr>
                <tr th:each ="d : ${session.panierCommande.detailcdes}">
                   <td th:utext="${d.produit.descriptif}">...</td>
                   <td th:utext="${d.produit.prix}">...</td>
                   <td th:utext="(${d.produit.disponible}=='vrai'?'OUI':'NON')">...</td>
                   <td th:utext="${d.produit.qteenstock}">...</td>
                   <td><a th:href="@{/panier/delete/{desc} (desc= ${d.produit.descriptif})}">Supprimer</a></td>
<td></td>
                </tr>

</table>
    <input type="submit" value="Acheter">
</form>
</body>
<footer>
    <form th:action="@{/catalogue2}" th:method="POST">
        <input type="submit" value="Retour catalogue">
    </form>
</footer>
</html>