<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">   
<head>      
    <meta charset="UTF-8"/>
    <title>Catalogue</title>         
</head>   
<body>
    <h1>リステデプロヅイ</h1>

<table>
    <thead>
    <tr>
        <th>    アイヂ    |</th>
        <th>    デスクリーシャンー    |</th>
        <th>    カンチチ    |</th>
        <th>    アジョウパニエ    |</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${listeProduits}">
        <td th:text="${p.nproduit}"></td>
        <td th:text="${p.descriptif}">/</td>
        <td th:text="${p.qteenstock}">/</td>
        <td>
            <form th:action="@{/ajoutnb}" method="post">
                <input type="number" min="0" th:max="${p.qteenstock}" th:name="qte" th:value="0"/>
                <input type="number" th:name="id" th:value="${p.nproduit}" hidden="true"/>
        <input type="submit" >ajouter</input></form>
            </form>
        </td>
    </tr>
    </tbody>
    <input type="submit">バスケ-テ</input>
</table>

<div th:if="${produitPage.totalPages > 0}"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listeProduits(size=${produitPage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"></a>
</div>
</body>
</html>